body {
    font-family: Arial, sans-serif;
    /*margin: 28px;*/
    margin: 0;
    padding: 0;
    background-image: url('../img/Background-index-e.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: linear-gradient(to right, rgba(76, 0, 130, 0.8), rgba(0, 0, 0, 0.8));/* Ajustado para ser semitransparente */
    color: white;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    position: relative;
    margin: 0;
}

header h1.Title {
    margin: 0;
    text-align: center;
    flex: 1;
}

header img.imagen-Logo,
header img.imagen-Logo-t {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    padding: 2em;
    margin: 16px;
}

/* Estilo general para centrar todas las imágenes en el main */
main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.Imagen-H1,.Imagen-H2,.Imagen-MD, 
.Imagen-CG, .Imagen-CM, 
.Imagen-MUT, .Imagen-GUT, 
.Imagen-AE, .Imagen-NC, 
.Imagen-NH, .Imagen-FB {
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Dev-Tool img,
.Dev-Team img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para las secciones de contenido */
.cuadro-texto,
.Description,
.Maps,
.Characters,
.Final-Boss,
.Dev-Tool,
.Dev-Team {
    padding: 35px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    /*background-color: rgb(169, 118, 205, 0.8);*/
    background: linear-gradient(to right, rgba(169, 118, 205, 0.8), rgba(95, 83, 83, 0.8));
    border-radius: 15px;
}

.Dev-Team {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, rgba(76, 0, 130, 0.8), rgba(0, 0, 0, 0.8));
    color: white;
    text-align: center;
    padding: 1em;
}

h2,h3{
    margin: 0;
    text-align: center;
    flex: 1;
}